.hljs {
  padding: 1em;
}

@media(min-width:961px){.masthead{position:sticky;top:50px;}}

strong {
  background-color: transparent;
  background-image: linear-gradient(rgba(12, 242, 143, 0.2), rgba(12, 242, 143, 0.2));
  font-weight: bold;
}